# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

node_modules
gulp.1
build

/src/release
/release
/bower_components

.tmp/serve/reg.html

.tmp/serve/reg.html

.tmp/serve/index.html

.tmp/serve/reg.html

.tmp/serve/index.html

.tmp/serve/auth.html

.tmp/serve/assets/img/theme/vendor/leaflet/dist/images/marker-shadow.png

.tmp/serve/assets/img/theme/vendor/leaflet/dist/images/marker-icon.png

.tmp/serve/assets/img/theme/vendor/leaflet/dist/images/marker-icon-2x.png

.tmp/serve/assets/img/theme/vendor/leaflet/dist/images/layers.png

.tmp/serve/assets/img/theme/vendor/leaflet/dist/images/layers-2x.png

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default/throbber.gif

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default/style.min.css

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default/style.css

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default/40px.png

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default/32px.png

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default-dark/throbber.gif

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default-dark/style.min.css

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default-dark/style.css

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default-dark/40px.png

.tmp/serve/assets/img/theme/vendor/jstree/dist/themes/default-dark/32px.png

.tmp/serve/assets/img/theme/vendor/ionrangeslider/img/sprite-skin-simple.png

.tmp/serve/assets/img/theme/vendor/ionrangeslider/img/sprite-skin-modern.png

.tmp/serve/assets/img/theme/vendor/ionrangeslider/img/sprite-skin-nice.png

.tmp/serve/assets/img/theme/vendor/ionrangeslider/img/sprite-skin-flat.png

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/xIconH.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/xIcon.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/plus.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/panUp.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/panRight.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/panLeft.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/panDown.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/minus.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/homeIconWhite.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/homeIcon.gif

.tmp/serve/assets/img/theme/vendor/ammap/dist/ammap/images/export.png

.tmp/serve/app/main.css

.tmp/serve/app/auth.css

.tmp/serve/app/404.css

.tmp/serve/404.html
