<uib-tabset active="$tabSetStatus.activeTab">
  	<uib-tab heading="待审核">
  		<form class="row form-inline">
  		<div class="form-group">
			<label for="name">省</label>
			<select class="form-control">
				<option>北京</option>
				<option>河北省</option>
				<option>河南省</option>
				<option>湖南省</option>
				<option>湖北省</option>
			</select>&nbsp;&nbsp;
			<label for="name">市县</label>
			<select class="form-control">
				<option>北京</option>
				<option>河北省</option>
				<option>河南省</option>
				<option>湖南省</option>
				<option>湖北省</option>
			</select>&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="name">当前状态</label>
			<select class="form-control">
				<option>全部</option>
				<option>申请资料审核</option>
				<option>实地考察审核</option>
				<option>陈述会考核</option>
				<option>入网审核</option>
			</select>
			
			</div>
		  	<button type="submit" class="btn btn-primary" style="margin-top:15px;">搜索</button>
		</form>
	  	<div class="horizontal-scroll">
		  	<table class="table table-hover" st-table="applicants">
			    <thead>
				    <tr class="sortable">
				      <th class="table-id" st-sort="id" st-sort-default="true">编号</th>
				      <th st-sort="area">区域</th>
				      <th st-sort="company">申请公司</th>
				      <th st-sort="person">联系人</th>
				      <th st-sort="phone">手机号码</th>
				      <th st-sort="state">当前状态</th>
				      <th st-sort="date">最近提交时间</th>
				      <th st-sort="zaozuo">操作</th>
				    </tr>
			    </thead>
			    <tbody>
				    <tr ng-repeat="item in applicants" class="editable-tr-wrap">
				      <td class="table-id">{{item.id}}</td>
				      <td>{{item.area}}</td>
				      <td>{{item.company}}</td>
				      <td>{{item.person}}</td>
				      <td>{{item.phone}}</td>
				      <td>{{item.state}}</td>
				      <td>{{item.date}}</td>
				      <td><a ui-sref="components.storeCheck({obj:item.id})">审核</a></td>

				    </tr>
			    </tbody>
			    <tfoot>
				    <tr>
				      <td colspan="8" class="text-center">
				        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
				      </td>
				    </tr>
			    </tfoot>
		  	</table>
		</div>
 	</uib-tab>
  	<uib-tab heading="已审核">
  		<form class="row form-inline">
  		<div class="form-group">
			<label for="name">省</label>
			<select class="form-control">
				<option>北京</option>
				<option>河北省</option>
				<option>河南省</option>
				<option>湖南省</option>
				<option>湖北省</option>
			</select>&nbsp;&nbsp;
			<label for="name">市县</label>
			<select class="form-control">
				<option>北京</option>
				<option>河北省</option>
				<option>河南省</option>
				<option>湖南省</option>
				<option>湖北省</option>
			</select>&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="name">当前状态</label>
			<select class="form-control">
				<option>全部</option>
				<option>申请资料审核</option>
				<option>实地考察审核</option>
				<option>陈述会考核</option>
				<option>入网审核</option>
			</select>
			
		</div>
		<button type="submit" class="btn btn-primary" style="margin-top:15px;">搜索</button>
		</form>
	  	<div class="horizontal-scroll">
		  	<table class="table table-hover" st-table="applicants2">
			    <thead>
				    <tr class="sortable">
				      <th class="table-id" st-sort="id" st-sort-default="true">编号</th>
				      <th st-sort="area">区域</th>
				      <th st-sort="company">申请公司</th>
				      <th st-sort="person">联系人</th>
				      <th st-sort="phone">手机号码</th>
				      <th st-sort="state">当前状态</th>
				      <th st-sort="date">最近提交时间</th>
				      <th st-sort="zaozuo">操作</th>
				    </tr>
			    </thead>
			    <tbody>
				    <tr ng-repeat="item in applicants2" class="editable-tr-wrap">
				      <td class="table-id">{{item.id}}</td>
				      <td>{{item.area}}</td>
				      <td>{{item.company}}</td>
				      <td>{{item.person}}</td>
				      <td>{{item.phone}}</td>
				      <td>{{item.state}}</td>
				      <td>{{item.date}}</td>
				      <td><a  ui-sref="components.storeCheck({obj:item.id})">审核</a></td>
				    </tr>
			    </tbody>
			    <tfoot>
				    <tr>
				      <td colspan="8" class="text-center">
				        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
				      </td>
				    </tr>
			    </tfoot>
		  	</table>
		</div>
  	</uib-tab>
  </uib-tabset>
